<div style="width: 90%; height: 100%;margin-top:20px;margin-left: 5%;">
    <mat-card fxLayout="column" fxFlex="100" class="example-card">
        <h2>About IDPC</h2>
        <mat-tab-group  fxLayout="column" fxLayoutAlign="center center" class="mb-12" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabClick($event)">
          <mat-tab label="About"></mat-tab>
          <mat-tab label="Contest Rules"></mat-tab>
          <mat-tab label="Schedule"></mat-tab>
          <mat-tab label="Registered Team List"></mat-tab>
          <mat-tab label="Final Team List"></mat-tab>
        </mat-tab-group>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
            <div fxFlex="30">
                <img
                    width="100%"
                    height="380px"
                    alt="Angular Logo"
                    src="./assets/images/idpc-event.jpg"
                />
            </div>
            <div>
                <h2>We are excited to announce our upcoming Inter-Departmental Programming Contest, a thrilling competition designed to bring out the best in our talented coders from various departments. This event aims to foster collaboration, showcase programming skills, and encourage innovative problem-solving among our students.</h2>
                <h2>Eligibility:</h2>
                <li>Open to all students currently enrolled in any department of Islamic University.</li>
                <li>Each team can consist of members from the same or different department.</li>
                <h2 class="mt-12">Why Participate?</h2>
                <li><span class="font-weight-500">Sharpen Your Skills:</span> Improve your coding and problem-solving abilities.</li>
                <li><span class="font-weight-500">Collaborate and Network:</span> Work closely with peers and make new connections.</li>
                <li><span class="font-weight-500">Boost Your Resume:</span> Gain valuable experience and add a noteworthy achievement to your resume.</li>
                <li><span class="font-weight-500">Win Exciting Prizes:</span> Compete for amazing prizes and bragging rights.</li>
            </div>
        </div>
    </mat-card>
</div>