<div style="width: 90%; max-height: 100%;margin-top:20px;margin-left: 5%;">
  <mat-card fxLayout="column" fxLayoutAlign="center center"fxFlex="100" class="example-card">
    <mat-tab-group class="mb-12" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabClick($event)">
      <mat-tab label="Advisory Committee"></mat-tab>
      <mat-tab label="Governing Committee"></mat-tab>
      <mat-tab label="Organizing  Committee"></mat-tab>
    </mat-tab-group>
      <h1 class="font-weight-700">Organizing Committee</h1>
      <div style="width:100%" fxLayout="column" fxLayoutGap="24px" >
        <div class="my-16 mx-8 width-100" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div *ngFor="let people of organizingCommitteeList; let i = index" fxFlex="25" fxFlex.md="25" fxFlex.sm="50" fxFlex.xs="100">
                <div fxLayoutAlign="center center">
                    <mat-card class="dashboard__rightcontent__body__card cursor-pointer card-width" >
                        <mat-card-title-group fxLayoutAlign="center center">
                          <img class="circle-image" mat-card-lg-image src="{{people.ImageUrl}}" >
                        </mat-card-title-group>
                        <mat-card-content class="text-center mt-20">
                          <h2 class="text-center">{{people.Name}}</h2>
                          <h3 class="text-center">{{people.Designation}}</h3>
                          <p class="text-center">Session - {{people.Session}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
      </div>
  </mat-card>
</div>