<div style="width: 90%; height: 100%;margin-top:20px;margin-left: 5%;">
    <mat-card fxLayout="column" fxFlex="100" class="example-card">
        <h2>About Contest</h2>
        <mat-tab-group  fxLayout="column" fxLayoutAlign="center center" class="mb-12" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabClick($event)">
          <mat-tab label="About"></mat-tab>
          <mat-tab label="Contest Rules"></mat-tab>
          <mat-tab label="Schedule"></mat-tab>
          <mat-tab label="Registered Team List"></mat-tab>
          <mat-tab label="Final Team List"></mat-tab>
        </mat-tab-group>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
            <div fxFlex="30">
                <img
                    width="100%"
                    height="380px"
                    alt="Angular Logo"
                    src="./assets/images/idpc-event.jpg"
                />
                <button mat-flat-button color="primary" (click)="redirectToRegistrationLink()">Registration Link</button>
            </div>
            <div>
                <h2>Contest Rules:</h2>
                <ul>
                    <li *ngFor="let item of contestRulesList; let i = index">
                      <span>{{ item.description }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </mat-card>
</div>