<div style="width: 90%; height: 420px;margin-top:20px;margin-left: 5%;">
    <mat-card fxLayout="column" fxLayoutAlign="center center"fxFlex="100" class="example-card">
        <h1 class="font-weight-700">Advisory Committee</h1>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" fxLayoutGap="40">
            <div *ngFor="let people of advisoryCommitteeList">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <img class="circle-image" mat-card-lg-image src="{{people.ImageUrl}}" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content class="text-center mt-20">
                      <h2 class="text-center">{{people.Name}}</h2>
                      <p class="text-center">{{people.Designation}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>