.nav-menu{
    color: #fff !important;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

.menu-item {
    float: left;
    position: relative;
}

.menu-item a, .menu-item {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #78182c;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    min-width: 200px;
    z-index: 1;
}

.submenu-item {
    padding: 12px 16px;
}

.submenu-item:hover {
    background-color: #575757;
}

.menu-item:hover .submenu {
    display: block !important;
}
