$bs-accent-A100: #ffffff;
$base-black-color: #000000;
$custom-black-color: #262626;
$custom-font-family: "Roboto";
$custom-heading-font-family: "Roboto" ;
$custom-white-color: #FFFFFF;
$mat-bs-primary:#007ac2;



$dark-primary-text: #333333;
$light-primary-text: #aaa;

$primary-color:#007ac2;
$secondary-color:#000000;


