<div class="footer" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <div fxFlex="20" class="logo">
        <img
        width="60px"
        height="60px"
        alt="Angular Logo"
        src="./assets/images/logo.jpg"
        />
    </div>
    <div fxFlex="30" fxFlex.md="30" fxFlex.sm="30" fxFlex.xs="30" class="logo">
        <h2 class="footer-heading" >Social Media Links</h2>
        <div class="footer-social-media">
            <a href="https://www.facebook.com/cpu.cse.iu" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com/company/90629775/admin/dashboard/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
    <div fxFlex="40" fxFlex.md="40" fxFlex.sm="50" fxFlex.xs="50" class="logo">
        <h2 class="footer-heading">© 2024 CPU, CSE, IU
            All rights reserved.</h2>
    </div>
</div>
  