<div class="footer" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <div fxFlex="20" class="logo">
        <img
        width="60px"
        height="60px"
        alt="Angular Logo"
        src="./assets/images/logo.jpg"
        />
    </div>
    <div fxFlex="40" class="logo">
        <h2 class="footer-heading" >Social Media Links</h2>
        <div class="footer-social-media">
            <a href="https://facebook.com" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://linkedin.com" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <div fxFlex="30" class="logo">
        <h2 class="footer-heading">© 2024 CPU, CSE, IU
            All rights reserved.</h2>
    </div>
</div>
  