<div fxLayout="column" fxLayoutGap="24px">
    <div fxLayout="column" fxFlex="100" >
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title fxLayoutAlign="center center">Our Location</mat-card-title>
                <mat-card-subtitle>
                    <img fxLayoutAlign="center center" class="circle-image contact-us-image" mat-card-lg-image src="./assets/images/location.png" >
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h2>Computer Science & Engineering Deptartment</h2>
                <h3>Islamic University Bangladesh</h3>
            </mat-card-content>
        </mat-card>
    </div>
<div fxLayout="row" fxFlex="100" fxLayoutGap="24px">
    <div fxLayout="column" fxFlex="50">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title fxLayoutAlign="center center">Email Us</mat-card-title>
                <mat-card-subtitle>
                    <img fxLayoutAlign="center center" class="circle-image contact-us-image" mat-card-lg-image src="./assets/images/email.jpg" >
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h2>cpucseiub@gmail.com</h2>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="column" fxFlex="50">
        <mat-card >
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-title fxLayoutAlign="center center">Message Us</mat-card-title>
                <mat-card-subtitle>
                    <img fxLayoutAlign="center center" class="circle-image contact-us-image" mat-card-lg-image src="./assets/images/message.jpeg" >
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <h2><a href="https://www.facebook.com/cpu.cse.iu">Competitive Programmer's Union</a></h2>
            </mat-card-content>
        </mat-card>
    </div>
</div>