/* You can add global styles to this file, and also import other style files */
@import "./utils/variables";
body {
    margin: 0;
    font-family: $custom-font-family !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F8F8FC;
}

html {
    letter-spacing: 0 !important;
}
.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center{
    text-align: center !important;
}

.circle-image{
    border-radius: 50% !important;
}
.contact-us-image{
    height: 100px !important;
    width: 100px !important;
}
.ml-8{
    margin-left: 8px !important;
}
.ml-12{
    margin-left: 12px !important;
}
.mb-12{
    margin-bottom: 12px !important;
}
.card-width{
    min-width: 80% !important;
}