<div style="width: 90%; height: 100%;margin-top:20px;margin-left: 5%;">
    <mat-card fxLayout="column" fxFlex="100" class="example-card">
        <h2>About Contest</h2>
        <mat-tab-group  fxLayout="column" fxLayoutAlign="center center" class="mb-12" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabClick($event)">
          <mat-tab label="About"></mat-tab>
          <mat-tab label="Contest Rules"></mat-tab>
          <mat-tab label="Schedule"></mat-tab>
          <mat-tab label="Registered Team List"></mat-tab>
          <mat-tab label="Final Team List"></mat-tab>
        </mat-tab-group>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
            <div fxFlex="30">
                <img
                    width="100%"
                    height="380px"
                    alt="Angular Logo"
                    src="./assets/images/idpc-event.jpg"
                />
            </div>
            <div fxLayout="column" fxFlex="70" fxLayoutGap="20px">
                <h2>Important Date & Time</h2>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="Position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="EventName">
                      <th mat-header-cell *matHeaderCellDef> Event Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.EventName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="StartTime">
                      <th mat-header-cell *matHeaderCellDef> Start Time </th>
                      <td mat-cell *matCellDef="let element"> {{element.StartTime}} </td>
                    </ng-container>
                    <ng-container matColumnDef="EndTime">
                      <th mat-header-cell *matHeaderCellDef> End Time </th>
                      <td mat-cell *matCellDef="let element"> {{element.EndTime}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Location">
                      <th mat-header-cell *matHeaderCellDef> Location </th>
                      <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row;let i=index columns: displayedColumns;" [ngClass]="{highlighted: i%2==0}"></tr>
                </table>                  
            </div>
        </div>
    </mat-card>
</div>